<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/user/feed">Feed</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>

    <section class="home" id="home">
      <h1>Admin Dashboard</h1>
      <!-- <img th:src="@{/img/What-is-Research.jpg}" /> -->
    </section>
    <h1 class="home-text">Perfect place for all the researchers</h1>
    
    <div class="login-register">
      <button class="login-button" onclick="document.location='/admin/postlist'">
      Postlist
      </button>
      <button class="login-button" onclick="document.location='/admin/userlist'">
        Userlist
      </button>
    
    </div>
  </body>
</html>